*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #2ab3b1;
  --aqua-blue: #4abebd;
  --bright-yellow: #c0df34;
  --light-grey: #e5eff5;
  --greyish-blue: #98a6bd;
  --light-blue: #e6eff5;
  --white: #fff;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
  background-color: var(--light-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 311px;
  background-color: var(--white);
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  margin-top: 4.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.hero {
  padding: 0 1.5rem;
}

.title {
  color: var(--cyan);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 23px;
  letter-spacing: -0.25px;
  margin: 1.75rem 0 1.5rem;
}

.subtitle {
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 20px;
  letter-spacing: -0.1875px;
  color: var(--bright-yellow);
}

.description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 26px;
  letter-spacing: -0.175px;
  color: var(--greyish-blue);
  margin: 1rem 0 2rem;
}

.price-container {
  background-color: var(--cyan);
  padding: 0 1.5rem;
}

.price-subtitle {
  color: var(--white);
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: -0.225px;
  padding: 1.5rem 0 1.125rem;
}

.price-details {
  display: flex;
  align-items: center;
}

.price {
  font-weight: 700;
  font-size: 2rem;
  line-height: 37px;
  letter-spacing: -0.4px;
  color: var(--white);
}

.per-month-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 0.688rem;
}

.price-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--white);
}

.sign-up-btn {
  background: var(--bright-yellow);
  color: var(--white);
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: -0.2px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  border-radius: 5px;
  border: none;
  padding: 0.938rem 6.375rem 0.875rem;
  margin: 1.625rem 0 1.5rem;
  cursor: pointer;
}

.value-proposition {
  padding: 0 1.5rem;
  background-color: var(--aqua-blue);
}

.value-subtitle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: -0.225px;
  color: var(--white);
  padding: 1.5rem 0 1.125rem;
}

.value-list-items {
  list-style-type: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: -0.175px;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.75;
  padding-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .card {
    margin-top: 3rem;
    width: 635px;
    display: grid;
    grid-template-columns: 317.5px 317.5px;
    grid-template-areas:
      "hero hero"
      "price value";
  }

  .hero {
    grid-area: hero;
  }

  .price-container {
    border-bottom-left-radius: 8px;
  }

  .value-proposition {
    border-bottom-right-radius: 8px;
  }
}
