*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #2ab3b1;
  --aqua-blue: #4abebd;
  --bright-yellow: hsl(71, 73%, 54%);
  --light-grey: hsl(204, 43%, 93%);
  --greyish-blue: #98a6bd;
  --light-blue: #e6eff5;
  --white: #fff;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
  background-color: var(--light-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 311px;
  background-color: var(--white);
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  margin-top: 72px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.hero {
  padding: 0 1.5rem;
}

.title {
  color: var(--cyan);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 23px;
  letter-spacing: -0.25px;
  margin: 28px 0 24px;
}

.subtitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.1875px;
  color: var(--bright-yellow);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.175px;
  color: var(--greyish-blue);
  margin: 1rem 0 2rem;
}

.price-container {
  background-color: var(--cyan);
  padding: 0 1.5rem;
}

.price-subtitle {
  color: var(--white);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.225px;
  padding: 24px 0 18px;
}

.price-details {
  display: flex;
  align-items: center;
}

.price {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.4px;
  color: var(--white);
}

.per-month-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 11px;
}

.price-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: var(--white);
}

.sign-up-btn {
  background: var(--bright-yellow);
  color: var(--white);
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: -0.2px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  border-radius: 5px;
  border: none;
  padding: 15px 102px 14px;
  margin: 26px 0 24px;
  cursor: pointer;
}

.value-proposition {
  padding: 0 1.5rem;
  background-color: var(--aqua-blue);
}

.value-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.225px;
  color: var(--white);
  padding: 24px 0 18px;
}

.value-list-items {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.175px;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.75;
  padding-bottom: 24px;
}
